.header {
    min-height: 50px;
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}
.header a[class='active'] {
    color: red;
}